$body-bg-color: #f8faf9;
$calendar-filter-bg-color: #d0d0d0;
$default-border-color: #ced7d4;
$white: #ffffff;
$card-border-color: #ced7d4;
$icon-bg-color: #f3f3f3;

$plant-success: #147d64;
$plant-warning: #ced7d4;
$plant-danger: #e78b00;
$default-black: #1a2321;
$hint-color: #595959;
$label-color: #121212;

$text-seconday: #616161;
$text-primary: #02a783;

$bg-primary: #02a783;
$card-title-color: #05322b;

$btn-primary-bg: #147d64;
$dashboard-footer-primary-bg: #effcf6;

$dashboard-footer-secondary-bg: #ebefee;

$dashboard-footer-warning-bg: #fefbe6;

$dashboard-footer-border-primary: #147d64;

$dashboard-footer-border-secondary: #adbdb9;

$dashboard-footer-border-warning: #e27d21;
$dashboard-last-icenter-heading: #121212;
$dashboard-axco-border: #ced7d4;
